html{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

.canvas-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.pixels-container{
    display: flex;
    flex-wrap: wrap;
    height: 448px;
    width: 448px;
}

.gridsize-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    color: white;
    margin-top: 60px;
    padding: 5px 8px;
    border-style: none;
    background-color: #07BEB8;
    font-size: medium;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

button:hover{
    background-color: #A54657;

}

nav{
    display: flex;
    background-color: #07BEB8;
    background-image: url(./images/wave3.svg);
    background-repeat:repeat;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.logo{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Silkscreen';
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
                 -8px 8px #f48fb1,
                 -12px 12px #7e57c2,
                 -16px 16px #2196f3,
                 -20px 20px #26c6da,
                 -24px 24px #43a047,
                 -28px 28px #eeff41,
                 -32px 32px #f9a825,
                 -36px 36px #ff5722;
}