html{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #07BEB8;
    background-image: url(./images/wave3.svg);
}

.all{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    margin-top: 50px;
    margin-right: 135px;
}

.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}


.pixels-container{
    border: 30px solid ;
    border-image: url(./images/pattern.svg) 185 round;
    display: flex;
    flex-wrap: wrap;
    max-height: 512px;
    max-width: 512px;
}

.gridsize-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

button{
    color: white;
    margin-top: 60px;
    padding: 5px 8px;
    border-style: none;
    border-radius: 8px;
    background-color: #ce4257;
    font-size: x-large;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    box-shadow: 4px 6px black;
}

button:hover{
    background-color: #ffca3a;

}

nav{
    display: flex;
    background-color: #07BEB8;
    background-image: url(./images/wave3.svg);
    background-repeat:repeat;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.logo{
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Silkscreen';
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
                 -8px 8px #f48fb1,
                 -12px 12px #7e57c2,
                 -16px 16px #2196f3,
                 -20px 20px #26c6da,
                 -24px 24px #43a047,
                 -28px 28px #eeff41,
                 -32px 32px #f9a825,
                 -36px 36px #ff5722;
}

i{
    color: black;
    margin: 0;
    padding: auto;

}

footer{
    margin-top: 80px;
    padding: 20px 0px 0px 0px;
    text-align: center;
}

a{
    text-decoration: none;
}